# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Files too big to have on GitHub
/Datasets/MyRECfile.csv
/Datasets/PredHydIndices.Rdata
/Datasets/RECdata_plus8.Rdata
/Datasets/RECandFWENZ.Rdata
/Datasets/RECdata_9.Rdata
/Datasets/WQnetwork_FlowTS.Rdata
/Functions/WqRFMods_3p3.Rdata
/Functions/DeltaInd_v2.Rdata.Rdata
.Rproj.user
